<!DOCTYPE html>
<html lang='en'>
<head>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th {
          text-align: left;
        }
    </style>
    <title>index.html</title>
</head>
<body>
    <h3>Hello, world!</h3>
        <table style='width:20%'>
            <tr>
                <th>NAME</th>
                <th>HOSTNAME</th>
                <th>IPADDRESS</th>
                <th>CPU</th>
                <th>PROCESSORS</th>
                <th>MEMORY</th>
                <th>TIMEZONE</th>
            </tr>
            <tr>
                <td><%= @name %></td>
                <td><%= node['hostname'] %></td>
                <td><%= node['ipaddress'] %></td>
                <td><%= node['cpu']['0']['mhz'] %></td>
                <td><%= node['cpu']['real'] %></td>
                <td><%= node['memory']['total'] %></td>
                <td><%= node['time']['timezone'] %></td>
            </tr>
        </table>
</body>
</html>
